@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bordered-input{
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='7' stroke='%23333' stroke-width='2' stroke-dasharray='10' stroke-dashoffset='6' stroke-linecap='round'/%3e%3c/svg%3e");

}

/* styles/globals.css or styles/Slider.module.css */
.slider-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slider-buttons button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.slider {
  position: relative;
}

.slider-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
}
